body {
  min-width: 350px;
}

h2 {
  text-align: center;
}

/* Difficulty selection CSS */

#difficulty {
  flex: 0 0 100%;
  text-align: center;
}

.difficulty-select {
  font-size: large;
  cursor: pointer;
  padding: 5px;
  margin-left: 5px;
}

#easy-btn {
  color: #5e8024;
}

#med-btn {
  color: #ffb800;
}

#hard-btn {
  color: #ff2d08;
}

.selected {
  background-color: rgb(227, 246, 141);
}

/* Status selection CSS */
#status {
  flex: 0 0 100%;
  text-align: center;
}

.label-text {
  font-size: medium;
  font-weight: bold;
  /* padding-left: 12px; */
}

.status-select {
  font-size: medium;
  cursor: pointer;
  padding: 5px;
  margin-left: 5px;
}

#topics {
  font-size: medium;
  text-align: center;
}

/* Acceptance Styles */
#acceptance {
  font-size: medium;
}

.input-acceptance {
  width: 50px;
}

/* Ratio Styles */
.ratio-slider {
  margin-right: 10px;
}

#like-ratio {
  padding-left: 10px;
}

/* Premium Styles */
#premium {
  text-align: center;
}

/* Button/result styles */
#result-span {
  border: 1px solid black;
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 10px;
  min-height: 50px;
  display: none;
  width: -webkit-fill-available;
}

#button-container {
  text-align: center;
}

#pick-problem {
  height: 40px;
  width: 50%;
}
