body {
  min-width: 360px;
}

h2 {
  text-align: center;
}

/* Difficulty/Topic selection CSS */

.option-container {
  flex: 0 0 100%;
  text-align: center;
}

.option-select {
  font-size: large;
  cursor: pointer;
  padding: 5px;
  margin-left: 5px;
}

.easy-color {
  color: #5e8024;
}

.med-color {
  color: #ffb800;
}

.hard-color {
  color: #ff2d08;
}

.selected {
  background-color: rgb(227, 246, 141);
}

/* Status selection CSS */
#status {
  flex: 0 0 100%;
  text-align: center;
}

.label-text {
  font-size: medium;
  font-weight: bold;
  /* padding-left: 12px; */
}

#topics {
  font-size: medium;
  text-align: center;
}

/* Acceptance Styles */
#acceptance {
  font-size: medium;
  text-align: center;
}

.input-acceptance {
  width: 50px;
}

/* Ratio Styles */
.ratio-slider {
  margin-right: 10px;
}

#like-ratio {
  padding-left: 10px;
}

/* Premium Styles */
#premium {
  text-align: center;
}

/* Button/result styles */
#result-div {
  border: 1px solid black;
  display: block;
  margin-top: 10px;
  min-height: 75px;
  padding-bottom: 5px;
  padding-top: 5px;
  display: none;
  font-size: large;
  width: -webkit-fill-available;
}

#button-container {
  text-align: center;
}

#pick-problem-btn {
  font-size: large;
  height: 40px;
  width: 50%;
}

.problem-link {
  font-weight: bold;
}

#completed-problems-btn {
  margin-top: 10px;
}

#popup {
  position: absolute;
  left: 10%;
  top: 10%;
  width: 80%;
  height: 82%;
  border: 1px solid black;
  background: rgb(227, 246, 141);
}

#textarea {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#save-problems-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
